@charset "UTF-8";
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*конец обнуления*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.hi {
  background-color: #445162;
  padding: 50px 0;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi__body {
  color: #fff;
  padding: 0 30px 0 0;
}

.hi__title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0 0 35px 0;
}

.hi__list {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.hi__list li {
  background: url("../img/icon/check.png") left no-repeat;
  padding: 0 0 0 35px;
}

.what {
  padding: 50px 0;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 0 30px;
}

.what__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 35px 0;
}

.what__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.what__text p {
  margin: 0 0 20px 0;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columns__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  padding: 0 0 20px 0;
}

.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 0 15px;
}

.item__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 15px 0;
}

.item__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.vertical {
  background: #fff;
  padding: 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.vertical__body {
  min-width: 900px;
  margin: 0 auto;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}

.vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 22.5px;
}

.vertical__item {
  background-color: #445162;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #445162;
  padding: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 0;
}

.vertical__label {
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  background-color: #fff;
  padding: 25px 0;
}

.vertical__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 18px 0 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__btn {
  display: block;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  font-weight: 700;
  color: #445161;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 0 20px;
}

.footer {
  background-color: #e2e0e4;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
}
